/* styles.css */

body {
    background-color: #61a3ff;
    display:center ;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    margin: 0;
}

/* Hidden class to hide the envelope initially */
.hidden {
    display: none;
}

.envelope {
    position: relative;
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.envelope:hover {
    transform: scale(1.1);
}

.envelope-front, .envelope-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: center;
    justify-content: center;
    align-items: center;
}

.envelope-back {
    display: none;
}

.envelope:hover .envelope-back {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.envelope-back p {
    text-align: center;
    margin: 0;
}
